<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="footer_logo">
          <a href="#!">
            <img src="assets/images/footer_logo.png" alt="404">
          </a>
          <div>Haga Salon 2016  Все права защищены</div>
        </div>
      </div>
      <div class="col-md-7">
          <ul class=" footer_menu hidden-xs">
            <li class="flex-item">
              <a href="#main_slider">Главная</a>
            </li>
            <li class="flex-item">
              <a href="#services">Услуги</a>
            </li>
            <li class="flex-item">
              <a href="#reviews">отзывы</a>
            </li>
            <li class="flex-item">
              <a href="#main_contact">контакты</a>
            </li>
            <li class="flex-item">
              <a href="#!">статьи</a>
            </li>
          </ul>
      </div>
      <div class="col-md-3">
        <div class="top_line_right">
          <div class="social_networks">
            <div>Подписывайтесь:</div>
            <a href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <table class="footer_service hidden-xs">
          <tbody>
              <tr>
                <td>Уход за волосами копия</td>
                <td>Уход за волосами копия</td>
                <td></td>
                <td>Ногтевая эстэтика</td>
              </tr>
              <tr>
                <td><a href="#!">Стрижка</a></td>
                <td><a href="#!">Аппаратная</a></td>
                <td><a href="#!">Пиллинг</a></td>
                <td><a href="#!">Маникюр</a></td>
              </tr>
              <tr>
                <td><a href="#!">Окрашивание</a></td>
                <td><a href="#!">Массаж лица</a></td>
                <td><a href="#!">Иньекционная</a></td>
                <td><a href="#!">Педикюр</a></td>
              </tr>
              <tr>
                <td><a href="#!">Укладка</a></td>
                <td><a href="#!">Мезотерапия</a></td>
                <td></td>
                <td><a href="#!">Наращивание</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="hide_menu hidden-lg hidden-md hidden-sm">
          <div class="hide_menu_soc_title">Подписывайтесь:</div>
          <a href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
          <div class="hide_menu_soc_title">звоните:</div>
          <a href="#!" target="_blank">+ 38 (093) 888 77 25</a>
          <a href="#!" target="_blank">+ 38 (093) 888 77 25</a>
          <div ng-controller="CollapseDemoCtrl">
            <ul class="unstyled mnu">
              <li><a href="#!">Главная</a></li>
              <li>
                <a ng-click="isCollapsed = !isCollapsed">услуги</a>
                <ul uib-collapse="isCollapsed" class="unstyled mnu_sub">
                  <li>
                    <a ng-click="isCollapsed2 = !isCollapsed2">Уход за волосами</a>
                    <ul uib-collapse="isCollapsed2" class="unstyled mnu_sub2">
                      <li><a href="#">Стрижка</a></li>
                      <li><a href="#">Окрашивание</a></li>
                      <li><a href="#">Укладка</a></li>
                    </ul>
                  </li>
                  <li>
                    <a ng-click="isCollapsed3 = !isCollapsed3">Косметология</a>
                    <ul uib-collapse="isCollapsed3" class="unstyled mnu_sub2">
                      <li><a href="#">Аппаратная</a></li>
                      <li><a href="#">Массаж лица</a></li>
                      <li><a href="#">Мезотерапия</a></li>
                      <li><a href="#">Пилинг</a></li>
                      <li><a href="#">Иньекционная</a></li>
                    </ul>
                  </li>
                  <li>
                    <a ng-click="isCollapsed4 = !isCollapsed4">Ногтевая эстэтика</a>
                    <ul uib-collapse="isCollapsed4" class="unstyled mnu_sub2">
                      <li><a href="#">Маникюр</a></li>
                      <li><a href="#">Педикюр</a></li>
                      <li><a href="#">Наращивание</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#!">Отзывы</a></li>
              <li><a href="#!">Контакты</a></li>
              <li><a href="#!">Статьи</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
