

<section class="slider_top">
  <div class="swiper-container s1">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background: url(assets/images/slider1.jpg) no-repeat center">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-xs-11">
              <div class="slider_content">
                <div>
                  <h3>новый personal beauty salon</h3>
                </div>
                <div>haga</div>
                <ul class="slider-ul">
                  <li>Перечисление услуг кратко:</li>
                  <li>• Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </li>
                  <li>• Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </li>
                  <li>• Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. </li>
                  <li>• Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background: url(assets/images/slider1.jpg) no-repeat center">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-xs-11">
              <div class="slider_content">
                <div>
                  <h3>новый personal beauty salon</h3>
                </div>
                <div>haga</div>
                <ul class="slider-ul">
                  <li>Перечисление услуг кратко:</li>
                  <li>• Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </li>
                  <li>• Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </li>
                  <li>• Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. </li>
                  <li>• Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background: url(assets/images/slider1.jpg) no-repeat center">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-xs-11">
              <div class="slider_content">
                <div>
                  <h3>новый personal beauty salon</h3>
                </div>
                <div>haga</div>
                <ul class="slider-ul">
                  <li>Перечисление услуг кратко:</li>
                  <li>• Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </li>
                  <li>• Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </li>
                  <li>• Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. </li>
                  <li>• Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background: url(assets/images/slider1.jpg) no-repeat center">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-7 col-xs-11">
              <div class="slider_content">
                <div>
                  <h3>новый personal beauty salon</h3>
                </div>
                <div>haga</div>
                <ul class="slider-ul">
                  <li>Перечисление услуг кратко:</li>
                  <li>• Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. </li>
                  <li>• Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </li>
                  <li>• Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. </li>
                  <li>• Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination sp1"></div>
  <script>
    var swiper1 = new Swiper('.s1', {
      pagination: '.sp1',
      paginationClickable: true,
      spaceBetween: 0,
      simulateTouch: true,
      slidesPerView: 1
    });
  </script>
</section>


<section id="hagaThis">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2>Haga Salon это</h2>
      </div>
    </div>
    <div class="row">
        <ul class="flex-container">
            <li class="flex-item">
              <span></span>
              <a href="#">
                Мастера с 10 летним опытом работы
              </a>
            </li>
            <li class="flex-item">
              <span></span>
              <a href="#">
                Индивидуальный подход к каждому клиенту
              </a>
            </li>
            <li class="flex-item">
              <span></span>
              <a href="#">
                Атмосфера в которую Вы обязательно влюбитесь
              </a>
            </li>
            <li class="flex-item">
              <span></span>
              <a href="#">
                Ваша красота, уверенность и хорошее настроение
              </a>
            </li>
        </ul>
    </div>
  </div>
</section>


<section id="services">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Наши услуги</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="farouk">
              <a href="http://farouk.com/chi" target="_blank">
                <img src="/assets/images/service_emblem.png" alt="404">
              </a>
            <div>средство для ухода за волосами <span>CHi</span> и <span>biosilk</span> от <span>farouk:</span>
              <p>Мы используем только лучшие средства. Бренд FAROUK одобрен во многих странах мира и по праву
                считается лучшим средством для ухода за волосами
              </p>
            </div>
            <a href="!#">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="f-acc">
            <div class="zag">
              <h3>уход за волосами</h3>
            </div>
            <img src="assets/images/card1.png" alt="">
            <div ng-controller="CollapseDemoCtrl">
              <ul uib-collapse="isCollapsed">
                <li>
                  <span><a href="#!">Стрижка</a></span>
                  <div>от 250 грн.</div>
                </li>
                <li>
                  <span><a href="#!">окрашивание</a></span>
                  <div>от 350 грн.</div>
                </li>
                <li>
                  <span><a href="#!">укладка</a></span>
                  <div>от 200 грн.</div>
                </li>
              </ul>
              <button ng-click="isCollapsed = !isCollapsed">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="f-acc">
            <div class="zag">
              <h3>косметология</h3>
            </div>
            <img src="assets/images/card2.png" alt="">
            <div ng-controller="CollapseDemoCtrl">
              <ul uib-collapse="isCollapsed">
                <li>
                  <span><a href="#!">аппаратная</a></span>
                  <div>от 250 грн.</div>
                </li>
                <li>
                  <span><a href="#!">массаж лица</a></span>
                  <div>от 350 грн.</div>
                </li>
                <li>
                  <span><a href="#!">мезотерапия</a></span>
                  <div>от 200 грн.</div>
                </li>
                <li>
                  <span><a href="#!">пиллинг</a></span>
                  <div>от 350 грн.</div>
                </li>
                <li>
                  <span><a href="#!">иньекционная</a></span>
                  <div>от 200 грн.</div>
                </li>
              </ul>
              <button ng-click="isCollapsed = !isCollapsed">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="f-acc">
            <div class="zag">
              <h3>ногтевая эстетика</h3>
            </div>
            <img src="assets/images/card3.png" alt="">
            <div ng-controller="CollapseDemoCtrl">
              <ul uib-collapse="isCollapsed">
                <li>
                  <span><a href="#!">маникюр</a></span>
                  <div>от 250 грн.</div>
                </li>
                <li>
                  <span><a href="#!">педикюр</a></span>
                  <div>от 350 грн.</div>
                </li>
                <li>
                  <span><a href="#!">наращивание</a></span>
                  <div>от 200 грн.</div>
                </li>
              </ul>
              <button ng-click="isCollapsed = !isCollapsed">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <div class="bottom_serv hidden-xs">
              <div class="serv_img hidden-sm hidden-xs">
                <!--<img src="assets/images/service_contact.png" alt="alt">-->
              </div>
              <div class="service_contact_info">
                <div>
                  <h3>Не были у нас ?</h3>
                  <div>только до 31.08 - скидка <span>15% на первую процедуру!</span></div>
                </div>
                <button class="button">Записаться</button>
              </div>
              <div class="service_number hidden-sm hidden-xs"><span>или звоните по телефонам:</span> 38 093 899 79 34,  38 093 999 45 65</div>
            </div>
          </div>
      </div>
  </div>
</section>


<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>отзывы</h2>
      </div>
    </div>

    <div class="swiper-container s2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img1.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img1.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
                          Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img2.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img2.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img1.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img1.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
                          Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img2.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img2.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img1.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img1.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
                          Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs" >33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img2.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img2.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img1.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img1.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
                          Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="full_rev_card">
                  <div class="title_review hidden-xs">
                    <h3>Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                  </div>
                  <img class="hidden-xs" src="assets/images/video_img2.png" alt="alt">
                  <div class="social_networks hidden-xs">
                    <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                    <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                  </div>
                  <div class="woman_review">
                    <h3 class="name_woman">Анастасия <span class="hidden-xs">33 года, Киев</span></h3>
                    <div class="reviews_people_and_photo">
                      <img src="assets/images/review_img2.png" alt="404">
                      <div>
                        <p><img src="assets/images/quotes.png" alt="">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                          Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
                          Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                        </p>
                        <span><img src="assets/images/quotes.png" alt=""></span>
                      </div>
                    </div>
                    <div class="social_networks hidden-xs">
                      <a class="face" href="https://twitter.com/facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                      <a class="vk" href="https://vk.com/" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i>Вконтакте</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination sp2"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="reviews_button_slider">
          <button class="button">Смотреть все</button>
          <button class="button">Оставить отзыв</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->

  <script>
    var swiper2 = new Swiper('.s2', {
      pagination: '.sp2',
      paginationClickable: true,
      spaceBetween: 0,
      simulateTouch: true,
      slidesPerView: 1
    });
  </script>
</section>


<section id="main_contact" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Наши контакты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="riverstown">
          <div>
            <h3>Риверствоун</h3>
          </div>
          <ul>
            <li>
              <div><i class="fa fa-phone" aria-hidden="true"></i>+ 38 (093) 888 77 25 <span>+38 (093) 888 77 25</span></div>
            </li>
            <li>
              <div><i class="fa fa-map-marker" aria-hidden="true"></i>г. Киев, ул. Вторая морская 154, офис 40</div>
            </li>
            <li>
              <div><i class="fa fa-clock-o" aria-hidden="true"></i>Пн. - Вс. <span>8:00 - 20:00</span></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stelec">
          <div>
            <h3>Стрелецкая</h3>
          </div>
          <ul>
            <li>
              <div><i class="fa fa-phone" aria-hidden="true"></i>+ 38 (093) 888 77 25 <span>+38 (093) 888 77 25</span></div>
            </li>
            <li>
              <div><i class="fa fa-map-marker" aria-hidden="true"></i>г. Киев, пр. Ленина 124 / А</div>
            </li>
            <li>
              <div><i class="fa fa-clock-o" aria-hidden="true"></i>Пн. - Вс. <span>8:00 - 20:00</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="map" ng-controller="MapController">
  <ng-map class="map" center="[50.451240, 30.480937]" zoom="15" disable-default-u-i="true" disable-double-click-zoom="true" draggable="true" scrollwheel="false" default-style="false"><marker position="[50.451240, 30.480937]"></marker></ng-map>
</section>

